.container {
   max-width: 37.0rem;
   margin: 10.0rem auto;

   .header {
      display: flex;
      justify-content: center;

   }

   span {
      padding-top: 2.0rem;
   }
}

@media (375px >=width) {
   .container {
      padding: 2.0rem;
   }
}