.container {
   padding-top: 2.2rem;

   select {
      margin-top: 10px;
      margin-right: 20px;

   }

   label p {
      padding: 5px;
      color: red;
      font-size: smaller;
      font-weight: 400;
   }
}